# Ігнорувати віртуальне середовище
.venv/
venv/
__pycache__/
*.py[cod]

# Ігнорувати локальні налаштування і редакторські файли
.vscode/
.idea/
.DS_Store

# Ігнорувати логи та тимчасові файли
*.log
*.tmp

# Ігнорувати базу SQLite (ми на Postgres)
data/
